$black: #000000;
$yellow: #FFD930;
$white: #FFFFFF;
$grey: #2D2D2D;
$green: #51E245;
$red: #E24545;
$light-green: rgba(48, 255, 30, 0.20);
$light-red: rgba(255, 30, 30, 0.20);
$shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$background: #FBFBFB;