@import 'src/assets/scss/bundle.scss';

.mapper {
  display: flex;
  align-items: center;
}

.title {
  margin: 0 1rem 0 0;
}

.buttons {
  display: flex;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 1rem 0 0;

    &:last-child {
      margin: 0;
    }

    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: $white;
      color: $yellow;
      box-shadow: $shadow;
      border: none;
    }
  }
}