@import 'src/assets/scss/bundle.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  background-color: $white;
}

.burgerImg {
  margin: 0 0.5rem 0 0;
}

.burgerButton {
  font-size: 1rem;
  background-color: $yellow;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}