@import 'src/assets/scss/bundle.scss';

.alive, .noAlive {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin: 0 0 0.625rem 0;

  p {
    font-size: 0.75rem;
    letter-spacing: 0.06em;
  }
}

.alive {
  background-color: $light-green;

  p {
    color: $green;
  }
}

.noAlive {
  background-color: $light-red;

  p {
    color: $red;
  }
}