@import "src/assets/scss/bundle.scss";

.search {
  display: flex;
  justify-content: center;
  box-shadow: $shadow;
  background-color: $white;
  border-radius: 0.25rem;
  max-width: 49.5rem;
  width: 100%;
  margin: 5rem auto;

  input {
    border: none;
    width: 100%;
    font-size: 0.875rem;
    color: $grey;
    padding: 1rem 2rem;

    &:focus {
      outline: none;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: none;
    cursor: pointer;
    padding: 0 2rem;
    font-size: 1rem;

    img {
      padding: 0 0.875rem 0 0;
    }
  }
}